name: Lint Markdown

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  markdownlint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Run Markdownlint
        uses: davidanson/markdownlint-cli2-action@v17
        with:
          # This scans every .md file in the entire repo
          globs: "**/*.md"
